@media screen and (min-width: 480px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  .Login input {
    text-align: center;
    width: 100%;
  }
  .Login form {
    width: 40%;
    min-width: 170px;
    max-width: 300px;

    height: 50%;
    min-height: 150px;
    max-height: 400px;

    border: 1px solid #efeb53;
    color: #333331;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10%;
    align-content: center;
    padding: 2%;
  }
  .form-group {
    width: 60%;
    min-width: 150px;
    max-width: 450px;

    min-height: 20px;
    max-height: 100px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 0%;
  }

  .Login h3 {
    margin-top: 4%;
    font-size: 23px;
    font-style: initial;
    text-align: center;
    color: #ffffff;
  }
  .Login Button {
    height: 10%;
    max-height: 38px;

    max-width: 155px;
    min-width: 80px;
    margin-left: 25%;
    margin-right: 20%;
    font-size: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  .Login input {
    text-align: center;
    width: 100%;
  }
  .Login form {
    width: 70%;
    max-width: 200px;
    min-width: 100px;
    height: 30%;
    min-height: 100px;
    max-height: 290px;

    border: 1px solid #ccc;
    color: #333331;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10%;
  }
  .form-group {
    font-size: 12px;

    width: 50%;
    min-width: 90px;
    max-width: 100px;
    min-height: 20px;
    max-height: 100px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0px;
    max-width: 320px;
  }

  .Login h3 {
    margin-top: 10%;
    font-size: 20px;
    text-align: center;
  }
  .Login Button {
    height: 10%;
    max-height: 30px;
    max-width: 155px;
    min-width: 80px;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 3%;
    font-size: 8px;
  }
  .forgot-password {
    text-align: right;
    font-size: 10px;
    margin-right: 5%;
    margin-top: 3%;
    color: #ffffff;
  }
  .custom-control-label {
    text-align: left;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 0px;
  }
}
