/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px !important;
}

.footer {
  border-top: 1px #efeb53 solid;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 130px;
  line-height: 60px;
}

.footer a {
  color: #efeb53;
}

.footer a:hover {
  color: #efeb53;
}

.footer-copy {
   color: #efeb53;
}